version: "3.9"

x-common-env: &common-env
  NODE_ENV: ${NODE_ENV:-development}

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.web
      args:
        NODE_ENV: ${NODE_ENV:-development}
    environment:
      <<: *common-env
      TELEGRAM_BOT_TOKEN: 7553529520:AAEa-KzgBZdjhxDsLpMI9JZOA27NP2c3pz0
      TELEGRAM_CHAT_ID: -4681394496
    ports:
      - "3000:3000"
    depends_on:
      - api

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
      args:
        NODE_ENV: ${NODE_ENV:-development}
    environment:
      <<: *common-env
      TELEGRAM_BOT_TOKEN: 7553529520:AAEa-KzgBZdjhxDsLpMI9JZOA27NP2c3pz0
      TELEGRAM_CHAT_ID: -4681394496
    ports:
      - "5000:5000"
    volumes:
      - ./data:/app/data              