version: "3.9"

x-common-env: &common-env
  NODE_ENV: ${NODE_ENV:-development}

services:
  web:
    restart: always
    build:
      context: .
      dockerfile: Dockerfile.web
      args:
        NODE_ENV: ${NODE_ENV:-development}
    environment:
      <<: *common-env
      TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN}
      TELEGRAM_CHAT_ID: ${TELEGRAM_CHAT_ID}
    ports:
      - "3000:3000"
    depends_on:
      - api
    volumes:
      - ./data:/app/data

  api:
    restart: always
    build:
      context: .
      dockerfile: Dockerfile.api
      args:
        NODE_ENV: ${NODE_ENV:-development}
    environment:
      <<: *common-env
      TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN}
      TELEGRAM_CHAT_ID: ${TELEGRAM_CHAT_ID}
    ports:
      - "5000:5000"
    volumes:
      - ./data:/app/data              